In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import os

In [14]:
pd.set_option('display.max_columns',None)

In [15]:
df=pd.read_csv(r'D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_File_From_DB\InputFile.csv')
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,query_hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source
0,44,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,45.0,t,1.4,t,39.0,t,1.16,t,33.0,f,?,SVI
1,48,M,f,t,f,f,f,f,f,f,t,f,f,f,f,f,t,5.4,t,1.9,t,87.0,t,1.0,t,87.0,f,?,other
2,61,F,f,f,f,f,f,f,f,f,f,f,t,f,f,f,t,0.99,t,1.5,t,63.0,t,0.56,t,113.0,f,?,SVI
3,35,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.25,t,2.0,t,121.0,t,0.81,t,148.0,f,?,other
4,70,F,f,f,f,t,f,f,f,f,f,f,f,f,f,f,t,1.1,t,1.7,t,95.0,t,0.68,t,140.0,f,?,SVI

In [16]:
df.columns

Index(['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH',
       'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U',
       'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source'],
      dtype='object')

In [17]:
df.shape

(259, 29)

In [18]:
df.isnull().sum()

age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
TBG                          0
referral_source              0
dtype: int64

In [12]:
df = pd.read_csv('hypothyroid.csv')
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,query_hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1.3,t,2.5,t,125,t,1.14,t,109,f,?,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,4.1,t,2,t,102,f,?,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.98,f,?,t,109,t,0.91,t,120,f,?,other,negative
3,70,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.16,t,1.9,t,175,f,?,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.72,t,1.2,t,61,t,0.87,t,70,f,?,SVI,negative

In [26]:
len(df['sex'].unique())

3

In [16]:
df['sex'].value_counts()

F    2480
M    1142
?     150
Name: sex, dtype: int64

In [24]:
d = pd.get_dummies(df['sex'])
d

      ?  F  M
0     0  1  0
1     0  1  0
2     0  0  1
3     0  1  0
4     0  1  0
...  .. .. ..
3767  0  1  0
3768  0  1  0
3769  0  1  0
3770  0  0  1
3771  0  1  0

[3772 rows x 3 columns]

In [20]:
df = pd.get_dummies(df,columns=['referral_source'])
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,query_hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,Class,referral_source_STMW,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_other
0,41,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1.3,t,2.5,t,125,t,1.14,t,109,f,?,negative,0,1,0,0,0
1,23,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,4.1,t,2,t,102,f,?,f,?,f,?,negative,0,0,0,0,1
2,46,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.98,f,?,t,109,t,0.91,t,120,f,?,negative,0,0,0,0,1
3,70,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.16,t,1.9,t,175,f,?,f,?,f,?,negative,0,0,0,0,1
4,70,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.72,t,1.2,t,61,t,0.87,t,70,f,?,negative,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,f,f,f,t,f,f,f,?,f,?,f,?,f,?,f,?,f,?,negative,0,0,0,0,1
3768,68,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1,t,2.1,t,124,t,1.08,t,114,f,?,negative,0,0,0,1,0
3769,74,F,f,f,f,f,f,f,f,f,t,f,f,f,f,f,t,5.1,t,1.8,t,112,t,1.07,t,105,f,?,negative,0,0,0,0,1
3770,72,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.7,t,2,t,82,t,0.94,t,87,f,?,negative,0,0,0,1,0
3771,64,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1,t,2.2,t,99,t,1.07,t,92,f,?,negative,0,0,0,0,1

In [19]:
for col in df.columns:
    if df[col].nunique() > 2:
        print(col)

age
sex
TSH
T3
TT4
T4U
FTI
referral_source
Class

In [3]:
df.shape

(3772, 30)

In [14]:
df['referral_source'].value_counts()

other    2201
SVI      1034
SVHC      386
STMW      112
SVHD       39
Name: referral_source, dtype: int64

In [15]:
df['Class'].value_counts()

negative                   3481
compensated_hypothyroid     194
primary_hypothyroid          95
secondary_hypothyroid         2
Name: Class, dtype: int64

In [2]:
onlyfiles = [f for f in os.listdir('D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_Batch_Files') ]

In [3]:
onlyfiles

['hypothyroid_0102062112000.csv',
 'hypothyroid_02111.csv',
 'hypothyroid_0211198_0102062.csv',
 'hypothyroid_0211198_0102062112025.csv',
 'hypothyroid_0211198_0102062112042.csv',
 'hypothyroid_0211198_0102062112097.csv',
 'hypothyroid_0211198_0102062112109.csv',
 'wafer_0211198_0102062112001.csv',
 '_0211198_0102062112004.csv']

In [5]:
import re
regex = "hypothyroid_{1}\d{7}_\d{13}.csv"
for i in onlyfiles:
    if re.match(regex,i):
        print(i)

hypothyroid_0211198_0102062112025.csv
hypothyroid_0211198_0102062112042.csv
hypothyroid_0211198_0102062112097.csv
hypothyroid_0211198_0102062112109.csv

In [6]:
onlyfiles = [f for f in os.listdir('D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_Raw_Files_Validated/Good_Raw/') ]

In [7]:
onlyfiles

['hypothyroid_0211198_0102062112025.csv',
 'hypothyroid_0211198_0102062112042.csv',
 'hypothyroid_0211198_0102062112097.csv',
 'hypothyroid_0211198_0102062112109.csv']

In [8]:
df = pd.read_csv('D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_Raw_Files_Validated/Good_Raw/hypothyroid_0211198_0102062112025.csv')
df.shape

(172, 25)

In [10]:
df = pd.read_csv('D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_Raw_Files_Validated/Good_Raw/hypothyroid_0211198_0102062112042.csv')
df.shape

(200, 26)

In [11]:
df = pd.read_csv('D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_Raw_Files_Validated/Good_Raw/hypothyroid_0211198_0102062112097.csv')
df.shape

(259, 29)

In [12]:
df = pd.read_csv('D:\Data Science\Machine-Learning-Projects\Thyroid Detection Project\Prediction_Raw_Files_Validated/Good_Raw/hypothyroid_0211198_0102062112109.csv')
df.shape

(200, 9)